@*@model IEnumerable<BlueBuzz.Models.Events>*@
@model BlueBuzz.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = "Blue Buzz Events";
}

<div class="jumbotron">
    <h1>bLUE bUZZ</h1>
    <h2>Events Page</h2>
</div>

@foreach (var Item in Model.Events)
{
    @Item.Title
    @Html.DisplayFor(modelItem => events.Title)
    @Html.DisplayFor(modelItem => events.Description)
    @Html.DisplayFor(modelItem => item.TimeStart)
    @Html.DisplayFor(modelItem => item.TimeEnd)
    @Html.DisplayFor(modelItem => item.Venue)
    @Html.DisplayFor(modelItem => item.Genre)

}

@*@foreach (var list in Model)
{
    <div class="row">
        <div class="col-md-12">
            <h2>@list.Title</h2>
            <ul>
                @foreach (var describe in list.Description)
                {
                    @Html.Partial("_EventItem", describe)
                }
            </ul>
        </div>
    </div>
}*@