@model IEnumerable<BlueBuzz.Models.Events>

@*@model BlueBuzz.ViewModels.HomeIndexViewModel*@
@{
    ViewBag.Title = "Blue Buzz Events";
}

<div class="jumbotron">
    <h1>bLUE bUZZ</h1>
    <h2>Events Page</h2>
</div>

@foreach (var Item in Model)  // Item is the List of the class Events
{
    @Item.Title
    @Html.DisplayFor(modelItem => Item.Title)
    @Html.DisplayFor(modelItem => Item.Description)
    @Html.DisplayFor(modelItem => Item.TimeStart)
    @Html.DisplayFor(modelItem => Item.TimeEnd)
    @Html.DisplayFor(modelItem => Item.Venue)
    @Html.DisplayFor(modelItem => Item.Genre)

}

@*@foreach (var list in Model)
{
    <div class="row">
        <div class="col-md-12">
            <h2>@list.Title</h2>
            <ul>
                @foreach (var describe in list.Description)
                {
                    @Html.Partial("_EventItem", describe)
                }
            </ul>
        </div>
    </div>
}*@